{{- $email := promptStringOnce . "email" "Email address" -}}

[data]
    email = {{ $email | quote }}

[git]
    commitMessageTemplate = "{{ promptString \"Commit message: \" }}"
    autoCommit = true
    autoPush = true
